<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete page</title>
</head>
<body>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <label for="password">Enter Password for deletion:</label>
        <input type="password" name="password" placeholder="Enter Password Here"><br><br>
        <button>Delete</button>
    </form>
</body>
</html>