<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Enter details of New User:</h2>
    <form method="post" action="/user">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter E-mail"><br><br>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username"><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>